.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #97999b;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}

@media (max-width: 1024px) {
    .breadcrumbs {
        margin: 40px 40px;
        font-size: 14px; 
    }
}

@media (max-width: 768px) {
    .breadcrumbs {
        margin: 30px 20px; 
        font-size: 12px;
        gap: 6px; 
    }
}

@media (max-width: 480px) {
    .breadcrumbs {
        margin: 20px 10px; 
        font-size: 10px; 
        gap: 4px; 
    }
}