.item {
  width: 350px;
}

.item p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: darkgray;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

/* .item-image {
  width: 500px;
} */

@media (max-width: 1024px) {
  .item {
    width: 280px; /* Reduce item width for tablet-sized screens */
  }

  .item-price-new,
  .item-price-old {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .item {
    width: 100%; /* Make item take full width on smaller screens */
    margin-bottom: 20px; /* Add some space between items */
  }

  .item-price-new,
  .item-price-old {
    font-size: 14px; /* Further reduce font size */
  }
}

@media (max-width: 480px) {
  .item {
    width: 100%; /* Full width on mobile devices */
    margin-bottom: 15px; /* Add space between items */
  }

  .item-price-new,
  .item-price-old {
    font-size: 12px; /* Adjust font size for mobile */
  }
}
